table {
    background-color: #EEEEEE;
    width: 85%;
    text-align: left;
    border-collapse: collapse;
    margin: 16px 0;
}

table td, table th {
    border: 1px solid #AAAAAA;
    padding: 8px 8px;
}

table tbody td {
    font-size: 12px;
}

table thead {
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
}

table thead th {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}

tr:hover {
    background: #5592bb;
}

svg {
    margin-left: 4px;
}
